body {
  padding: 0;
  margin: 0;
  background: grey;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, lightgray 0%, gray 100%);
}

/** Header styles **/
.header {
  background-image:url("azul.jpg");
  background-size: contain;
  height: 350px;
  background-position: center center;
}
.entrada
{
    margin: auto;
    padding: 0;
    width: 50%;    
    margin-bottom: 100px;
}



/** List style **/
h1 {
  color: lightgray;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  text-align: center;
  padding-top: 100px;
}
h2 {
  color:darkslategrey;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}
h3, h4{
    color: darkgreen;
    line-height: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    /*font-weight: 1;*/
}
/*ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

*/li {
    color: darkslategrey;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  /*font-weight: 10;*/
}

p {
  color: darkslategrey;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  /*font-weight: 10;*/
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
